<div class="input-field col s12">
    <input type="text" class="form-control" id="preg" placeholder="Enunciado" name="quiz[pregunta]" value="<%= quiz.pregunta %>" >
    <label for="preg">Pregunta</label>
</div>
<div class="input-field col s12">
    <input type="text" class="form-control" id="resp" placeholder="Respuesta" name="quiz[respuesta]" value="<%= quiz.respuesta %>" >
    <label for="resp">Respuesta</label>
</div>
<div class="input-field col s12">
  <div class="select-wrapper">
    <select id="cat" name="quiz[tema]" style="display: block;">
      <option value="" disabled selected>Choose your option</option>
      <option <%= (quiz.tema == "otro") ? "selected" : "" %> value="otro">Otro</option>
      <option <%= (quiz.tema == "humanidades") ? "selected" : "" %> value="humanidades">Humanidades</option>
      <option <%= (quiz.tema == "ocio") ? "selected" : "" %> value="ocio">Ocio</option>
      <option <%= (quiz.tema == "ciencia") ? "selected" : "" %> value="ciencia">Ciencia</option>
      <option <%= (quiz.tema == "tecnologia") ? "selected" : "" %> value="tecnologia">Tecnología</option>
    </select>
  </div>
  <label for="cat">Categoría</label>
</div>
<div class="row col s12 clearfix">
  <input class="btn btn-success" type="submit" value="Guardar" />
  <a class="btn btn-danger" href="/quizes">Cancelar</a>
</div>
