<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <div class="form-group">
    <label for="pregunta"><%= quiz.pregunta %></label>
    <input type="text" class="form-control" id="pregunta" name="respuesta" placeholder="Responda aquí" required="required">
  </div>
  <input type="submit" class="btn btn-default" value="Enviar" />
</form>

<h3>Comentarios:</h3>
<% for(index in quiz.Comments){ %>
	<% if(quiz.Comments[index].publicado || session.user){ %>
  		<p> - <%= quiz.Comments[index].texto %>
  			<% if(session.user && !quiz.Comments[index].publicado){ %>
  				<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish" class="btn btn-info">Publicar</a>
  			<% } %>
  		</p>
	<% } %>
<% } %>

<p><a class="btn btn-default" href="/quizes/<%= quiz.id %>/comments/new">Nuevo comentario</a></p>
